body {
    margin: 0px;
    font-family: lucida console;
}

.header {
    background-color: #799B4F;
    color: 	whitesmoke;
    padding: 50px 0px;
    font-family: lucida console;
    margin-top: 0px;
}

.row {
    display: flex;
    width:90%;
    margin: auto;
}

.item {   
    width: 600px;  
    margin: auto;
    border: 5px solid #8A838B;
    padding: 0px 50px;
    align-items: center;
    justify-content: center;    
}

h1 {
    text-align: center;    
}

.decade {
    text-align: center;
    background-color: #A7245F;
    color: whitesmoke;
    padding: 10px 0px;
}

h3 {
    text-align: center;
}

.consoleImage {
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer {
    margin: 50px 0px 20px 20px;
}